@model Datos.Models.Cliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Activar</h2>

<h3>Esta seguro que desea activar este registro?</h3>
<div>
    
    @Html.Partial("Clientes/_CamposComunesReadOnly", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Activar" class="btn btn-success"/> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
