
<div id="slider" class="slider-activo-inactivo">
    Mostrar inactivos
    <label class="switch" onclick="cambiarEstado()">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>