@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_CustomLayout.cshtml";
}

<div class="jumbotron">
    <h1>SP Bikes! .</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sistema centralizado de administración</h2>
    </div>
</div>